#tabs {
    color: #474747;
    background-color: #DFE5E7;
    font: arial;
    font-size: 5px;
    margin: 0px; 
    padding: 0px;
    position: relative;
    display: inline-black;
}

#gabrielkahen {
    margin: 0px;
    color: #1F1F1F;
}

#gabrielkahen:hover {
    background-color: transparent;
}

.tab {
    background-color: transparent;
    color:  #474747;
    font-size: 13px;
    align-items: center;
    vertical-align: center;
    text-align: left;    
    padding: 2px;
    border-radius: 8px;
    border-color: transparent;
    position: absolute;
    left: 200px;
    bottom: 7px;
    width: 220px;
    display: flex;
}

.rubik-tab {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 360;
  font-style: normal;
}

.tab:hover{
    background-color: #bec4d1;
    transition: .25s;
}

.logo   {
    margin: 2px;
    align-items: left;
    align-self: center;
    width: 16px;
    height: 16px;
}

#tabimg {
    color: #000000;
    background-color: #FAF9F9;
    margin: 0px; 
    vertical-align: bottom;
    padding: 0px
}


#url {
    color: #919293;
    background-color: #FAF9F9;
    font: arial;
    font-size: 7px;
    flex: start;
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.mod {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    align-items: center;
    align-content: center;
    flex: center;
    vertical-align: center;
    border-radius: 10000px;
    position: absolute;
}

.modImg {
    vertical-align: middle;
}

#refresh:hover {
    background-color: #EEEBED;
    transition: 0.3s;
}

#account {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    align-items: center;
    align-content: center;
    flex: center;
    vertical-align: center;
    border-radius: 10000px;
    position: absolute;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

#account:hover {
    background-color: #EEEBED;
    transition: 0.3s;
}

#accountImg {
    vertical-align: middle;
}


#tripledots:hover {
    background-color: #EEEBED;
    transition: 0.3s;
}

#urlbar {
    background-color: #EAE9ED;
    border-radius: 25px;
    border-color: transparent;
    position: absolute;
}

input {
    padding-left: 15px;
}

#urlbar:hover{
    background-color :#DEDDE1;
}









#bookmarks {
    color: #000000;
    background-color: #FAF9F9;
    font: arial;
    font-size: 5px;
    display: block;
    margin: 0px;
    padding: 0px
}

body {  
    color: #000000;
    background-color: #FAF9F9;
    font: arial;
    font-size: 7px;
    margin: 0px;
    padding: 0px
}
