#tabs {
    color: #474747;
    background-color: #DFE5E7;
    font: arial;
    font-size: 5px;
    margin: 0px; 
    padding: 0px;
    position: relative;
    display: inline-black;
}

#gabrielkahen {
    margin: 0px;
    color: #1F1F1F;
}

#gabrielkahen:hover {
    background-color: transparent;
}

.tab {
    background-color: transparent;
    color:  #474747;
    font-size: 13px;
    align-items: center;
    vertical-align: center;
    text-align: left;    
    padding: 2px;
    border-radius: 8px;
    border-color: transparent;
    position: absolute;
    left: 200px;
    bottom: 7px;
    width: 220px;
    display: flex;
}

.rubik-tab {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 360;
  font-style: normal;
}

.tab:hover{
    background-color: #bec4d1;
    transition: .25s;
}

.logo   {
    margin: 2px;
    align-items: left;
    align-self: center;
    width: 16px;
    height: 16px;
}

#tabimg {
    color: #000000;
    background-color: #FAF9F9;
    margin: 0px; 
    vertical-align: bottom;
    padding: 0px
}


#url {
    color: #919293;
    background-color: #FAF9F9;
    font: arial;
    font-size: 7px;
    flex: start;
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.mod {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    align-items: center;
    align-content: center;
    flex: center;
    vertical-align: center;
    border-radius: 10000px;
    position: absolute;
}

.modImg {
    vertical-align: middle;
}

#refresh:hover {
    background-color: #EEEBED;
    transition: 0.3s;
}

#account {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    align-items: center;
    align-content: center;
    flex: center;
    vertical-align: center;
    border-radius: 10000px;
    position: absolute;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

#account:hover {
    background-color: #EEEBED;
    transition: 0.3s;
}

#accountImg {
    vertical-align: middle;
}


#tripledots:hover {
    background-color: #EEEBED;
    transition: 0.3s;
}

#urlbar {
    background-color: #EAE9ED;
    border-radius: 25px;
    border-color: transparent;
    position: absolute;
}

input {
    padding-left: 15px;
}

#urlbar:hover{
    background-color :#DEDDE1;
}

.bookmarkImg {
    width: 18px;
    height: 18px;
    align-self: left;
    padding: 0px;
}

.bookmark {
    background-color: transparent;
    border-color: transparent;
    color: #474747;
    padding: 5px;
    border-radius: 10000px;
    position: absolute;
    display: flex;
    vertical-align: center;
    align-items: center;
    }

.bookmark:hover {
    background-color: #F2F2F2;
    transition: 0.3s;
}

#bookmarks {
    color: #000000;
    background-color: #FAF9F9;
    font: arial;
    font-size: 5px;
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#twitter {
    width: 80px;
    left: 4px;
}

#monkeyarchive {
    width: 131px;
    left: 87px;
}

#wikirace {
    width: 87px;
    left: 220px;
}

hr {
    margin: 0px;
    padding: 0px;
}


#gabelogo {
    background-color: #FAF9F9;
    display: block;
    margin: auto;
}

body {  
    color: #000000;
    background-color: #FAF9F9;
    font: arial;
    font-size: 7px;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: block;
}

#orangelogoImg {
    width: 32px;
    height: 32px;
    align-self: center;
    padding: 0px;
    display: center;
}

#dotsarrayImg {
    width: 17px;
    height: 17px;
    align-self: center;
    padding: 0px;
}

.bodybutton {
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    border-radius: 10000px;
    position: absolute;
    display: flex;
    justify-content: center;
    vertical-align: center;
    height: 30px;
    width: 30px; 
}

.bodybutton:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

#bodyGmail {
    color: #212121;
    border-color: transparent;
    background-color: #FAF9F9;
    justify-content: center;
    vertical-align: center;
    position: absolute;
    padding: 0px;
}

#bodyGmail:hover {
    text-decoration: underline;
    cursor: pointer;
}
  
#tooltip {
    position: fixed;
    font-family: helvetica;
    background-color: #4F5355;
    color: #FAF9F9;
    border-radius: 5px;
    z-index: 999;
    display: none;
    padding: 5px;
    font-size: 12px;
  }
  
  #tooltip.active {
    display: block;
  }

  /* search bar */

#searchContainer {
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 0px 7px 1px rgba(43, 43, 43, 0.3);
    margin: 0 auto;
    background-color: #FFF;
}

  #searchInput {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 16px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #FFF;
  }

  #searchHistory {
    background-color: #FFF;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
    box-shadow: 0px 5px 7px 1px rgba(43, 43, 43, 0.1), -5px 0px 7px 1px rgba(43, 43, 43, 0.1), 5px 0px 7px 1px rgba(43, 43, 43, 0.1);
  }

  .option {
    background-color: #FFF;
    padding: 10px;
    cursor: pointer;
  }

  .option:hover {
    background-color: #E9E9EA;
  }

  #buffer {
    height: 11px;
    padding: 0px;
    display: inline-block;
    background-color: #FAF9F9;
  }

  #buffer:hover {
    background-color: #FAF9F9;
  }